<div class="container">
    <h1>Lista de Compras</h1>

    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text" 
            name="item"
            placeholder="Digite o nome do item" 
            id="item" 
            [(ngModel)]="item" />
        <button type="submit">Adicionar</button>
    </form>


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @for (item of lista; track item.id) {
            <tr>
                <th>{{ item.id }}</th>
                <th>{{ item.nome }}</th>
                <th><input type="checkbox"/></th>
            </tr>

        }@empty {
            <tr colspan="4">
                Nenhum Item adicionado.
            </tr>
        }

        <!--OU -->

        <!--
        <tr *ngFor="let item of lista">
            <th>{{ item.id }}</th>
            <th>{{ item.nome }}</th>
            <th><input type="checkbox"/></th>
        </tr>
        -->
    </tbody>
</table>
</div>