<div class="container">
    <h1>Lista de Compras</h1>

    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text" 
            name="item"
            placeholder="Digite o nome do item" 
            id="item" 
            [(ngModel)]="item" />
        <button type="submit">Adicionar</button>
    </form>


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Arroz</th>
            <th><input type="checkbox"/></th>
        </tr>
        <tr>
            <th>2</th>
            <th>Feijão</th>
            <th><input type="checkbox"/></th>
        </tr>
        <tr>
            <th>3</th>
            <th>Macarrão</th>
            <th><input type="checkbox"/></th>
        </tr>
        <tr>
            <th>4</th>
            <th>Açucar</th>
            <th><input type="checkbox"/></th>
        </tr>
        <tr>
            <th>5</th>
            <th>Óleo</th>
            <th><input type="checkbox"/></th>
        </tr>
    </tbody>
</table>
</div>